html
{
  height: 100%;
}

body
{
  background-color: #202020;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a
{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a:hover
{
  color: #eb6e25;
}

#fillCarousel
{
  top: 8vmin;
}

#articleLink
{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.item
{
  display: flex;
  width: 700px;
  height: 300px;
  background-color: #353535;
  border-radius: 3px;
  margin: 10px auto;
}

#leftElements
{
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rightElements
{
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.titleFont

{
  font-family: 'Courier New', Courier, monospace;
  color: #eb6e25;
  font-size: 15px;
}

#missionTitle
{
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#missionSite
{
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#frstMImg
{
  height: 250px;
  max-width: 300px;
  border: 2px solid #202020;
  border-radius: 3px;
}

.owl-nav
{
  color: white;
  font-size: 40px;
}

.owl-prev:hover
{
  background: transparent !important;
  color: #eb6e25 !important;
}

.owl-next:hover
{
  background: transparent !important;
  color: #eb6e25 !important;
}

.owl-prev .disabled:hover
{
  background: transparent !important;
  color: #fff !important;
}

.owl-next .disabled:hover
{
  background: transparent !important;
  color: #fff !important;
}

#plusButton
{
  position: absolute;
  bottom: -10px;
  background-color: #353535;
  color: #eb6e25;
  text-align: center;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  font-size: 50px;
  border: none;
  z-index: 10000;
  padding: 0;
  cursor: pointer;
  bottom: -80px;
}

#plusButton:hover
{
  background-color: #464646
}

#fillCarousel
{
  top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}